<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
<div class = "w-full min-h-screen bg-zinc-900 p-5">
    <form method = "post" action = "/register"   >
<input class ="px-4 py-2 border-2 bg-white rounded-xl" placeholder="name" name = "name" type = "text" />
<input class ="px-4 py-2 border-2 bg-white rounded-xl" placeholder = "password" name = "password" type = "text" />
<input class ="px-4 py-2 border-2 bg-white rounded-xl" placeholder = "age " name = "age" type = "number" />
<input class ="px-4 py-2 border-2 bg-white rounded-xl" placeholder = "address" name = "address" type = "text" />
<input class ="px-4 py-2 border-2 bg-white rounded-xl" placeholder = "email" name = "email" type = "text" />
<input class ="px-4 py-2 border-2 bg-white rounded-xl" type = "submit" value = "Create Account" />
    </form>
</div>
</body>
</html></html>